html
    head
        title BenJ
        link(rel="stylesheet", href="/css/style.css")
    body
        main.flex
            div
                img(src=user.avatar_url)
            div
                h1 #{user.name}
                p Date de Création : #{user.created_at}
                p Bio : #{user.bio}
                p Localisation : #{user.location}
                p Nombre de Repo Publique : #{user.public_repos}
                p Nombre d'abonnés : #{user.followers}
                p Nombre d'abonnement : #{user.following}
        a(href="/") Retourner à l'accueil !